* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Open Sans', sans-serif;
  color: #f1f1f1;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: center;
}

.rodape {
  flex-shrink: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f1f1f1;
  background-color: rgba(6, 56, 122, 70%);
}
.rodape a {
  text-decoration: none;
  color: #f1f1f1;
  padding-left: 3px;
  padding-right: 3px;
}
.rodape ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}
.containerBtns {
  height: 100%;
  justify-content: space-around;
  padding-top: 3rem;
}
.containerBtns button {
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  color: #f1f1f1;
  background-color: #063879c4;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
}
.containerBtns button:hover {
  background-color: #f1f1f1;
  border: 2px solid #063879c4;
  color: #063879c4;
}
